.piece-item {
    height: 50px;
    min-height: 50px;
}

.piece-item:hover {
    background-color: rgba(101, 92, 92, 0.73);

}

.piece-item-selected {
    background-color: #7a6d6d;

}
.line {
    margin: 5px 0 1px 0;
    width: 100%;
}
