.piece-item {
    height: 50px;
    min-height: 50px;
    box-sizing: border-box;
}

.piece-item-hover {
    background-color: rgba(101, 92, 92, 0.73);
}

.piece-item-selected {
    background-color: #7a6d6d;
}

.line {
    margin: 5px 0 1px 0;
    width: 100%;
}


.jump-item {
    width: 100%;
    justify-content: center;
    background-color: #aa3d00;
}

.insertLine {
    width: 100%;
    height: 2px;
    background-color: green;
}
