@import url('app://bower_components/fontawesome/css/font-awesome.min.css');

#foldIcon {
    flex: none;
    font-size: 14px;
    width: 25px;
    margin-right: 2px;
    cursor: pointer;
    text-align: center;
    visibility: visible;
}

.plot-item {
    /* background-color: #467a1b; */

    /* padding-top: 4px; */

    /* padding-bottom: 4px; */
    height: 20px;
    justify-content: center;
    align-items: flex-start;
}

.plot-item-selected {
    background-color: #7a6d6d;
}

.plot-item:hover {
    background-color: rgba(101, 92, 92, 0.73);
}


.rename-input {
    border: 1px solid;
    border-color: blue;
    font-size: 12px;
    background-color: transparent;
    outline: none;
}




